{
    "kconfig.vim": {
        "modified": "2007-05-14 23:46:26",
        "size": "35.28KB",
        "md5": "3e55ec3d6df5537f7943f50baaa8a4ad",
        "sha256": "a25c9714253fb66f18e23232dd38faec7d2ee28c3bf332bfed1f3c745d353ded"
    },
    "Metadata": {
        "Content-Encoding": "UTF-8",
        "Content-Type": "text/plain; charset=UTF-8",
        "X-Parsed-By": [
            "org.apache.tika.parser.DefaultParser",
            "org.apache.tika.parser.csv.TextAndCSVParser"
        ],
        "X-TIKA:content_handler": "ToTextContentHandler",
        "X-TIKA:embedded_depth": "0",
        "X-TIKA:parse_time_millis": "1",
        "resourceName": "b'kconfig.vim'"
    }
}